#html,
body {
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#image-overlay {
  background-color: rgba(64, 93, 102, 0.651);
  width: 100vw;
  height: 100vh;
}
#hero {
  display: inline-block;
  height: 100vh;
  width: 100vw;
  background-image: url("psychologybg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
}
#navigationbar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  transition: background-color 0.4s ease-in-out;
}
header {
  position: fixed;
  z-index: 3;
}
nav.scrolled {
  background-color: rgb(71, 97, 112);
  opacity: 0.98;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
#logo h3 {
  color: whitesmoke;
  font-size: 1.3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#logo img {
  width: 150px;
  height: 100px;
  padding: 20px 20px;
  display: inline;
}
#logo {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logotext {
  height: 30px;
}
img {
  object-fit: cover;
}

#link {
  display: inline-flex;
  color: whitesmoke;
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-right: 7%;
  padding-top: 3%;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
  transition: color 0.4s ease-in-out;
  z-index: 4;
}
#nav.scrolled link a {
  color: rgb(69, 153, 202);
}
a:hover {
  color: rgb(92, 152, 187);
}
#contactus {
  margin-left: 30px;
}
#services {
  margin-left: 30px;
}
#about {
  margin-left: 30px;
}

#makeappointment {
  margin-left: 30px;
  background-color: rgb(69, 153, 202);
  padding: 1rem;
  margin-top: 0px;
  border-radius: 5px;
}
#makeappointment:hover {
  margin-left: 30px;
  background-color: rgb(41, 146, 207);
  margin-top: 0px;
  color: white;
}
.makeappointment-below:hover {
  background-color: rgb(41, 146, 207);
  margin-top: 0px;
  color: white;
}
.makeappointment-below {
  background-color: rgb(69, 153, 202);
  padding: 20px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem 0 rgb(36, 35, 35);
  border-radius: 5px;
}
#home {
  margin-left: 30px;
}

.makeappointment-container-below {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0px;
}
#firstsentence {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 50px;
  color: whitesmoke;
  width: 500px;
  text-align: left;
}
#secondsentence {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 50px;
  color: rgb(37, 153, 219);
  width: 500px;
  text-align: left;
}
#text {
  display: inline-block;
  margin-top: 10%;
  margin-left: 10%;
  text-align: left;
}
#sanatiotext {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 80px;
  color: whitesmoke;
  width: 500px;
}
#tagline {
  color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 60px;
  width: 400px;
}
#welcometext {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  text-align: center;
}

#welcomesection {
  display: flex;
  justify-content: center;
}
#intro {
  font-size: 20px;
  max-width: 500px;
  line-height: 2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}
#servicesection {
  background-color: rgb(255, 255, 255);
  z-index: -2;
}
#servicesection .top h1 {
  text-align: center;
  font-size: 40px;
  padding: 30px;
}
#servicesection .top p {
  text-align: center;
  font-size: 30px;
}
section#servicesection .row {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 50px;
}
section#servicesection .row .card {
  width: 200px;
  height: 200px;
  position: relative;
  display: block;
  margin: auto;
  align-items: center;
  gap: 10px;
}

section#servicesection .row .card img {
  width: 100px;
  display: block;
  margin: auto;
  padding-bottom: 20px;
  z-index: -4;
}
section#servicesection .row .card h3 {
  font-size: 24px;
  text-align: center;
  color: rgb(37, 153, 219);
}

section#servicesection .top img {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
}
section#servicesection .top {
  padding: 20px;
}
section#aboutsection h2 {
  text-align: center;
  font-size: 40px;
  padding: 30px;
  color: white;
  font-weight: 1;
}

section#aboutsection img {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
}
section#aboutsection #background {
  background-color: rgba(64, 93, 102, 0.651);
  height: 100vh;
  padding: 30px;
  position: relative;
}
section#aboutsection p {
  font-size: 30px;
  line-height: 2;
  color: white;
  padding: 50px;
  font-weight: 1;
  width: 1000px;
  display: block;
  margin: auto;
}
section#aboutsection {
  background-image: url("aboutbg.jpg");
  height: 100vh;
  position: relative;
  padding: 0;
  margin: 0;
  z-index: -1;
}
#makeappointment-below-about {
  background-color: rgb(69, 153, 202);
  font-size: 1rem;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  width: 175px;
  display: block;
  margin: auto;
}
#makeappointment-below-about:hover {
  background-color: rgb(41, 146, 207);
  color: white;
}
#image-overlay-makeappointment {
  background-color: rgba(64, 93, 102, 0.651);
  width: 100vw;
  height: 100vh;
}
#hero-makeappointment {
  height: 100vh;
  width: 100vw;
  background-image: url("calendar.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero-makeappointment #makeappointment-text {
  position: absolute;
  display: inline;
}
#hero-makeappointment #makeappointment-text h1 {
  display: inline;
  font-size: 60px;
}
#hero-makeappointment #makeappointment-text #green {
  color: rgb(37, 153, 219);
}
#hero-makeappointment #makeappointment-text #white {
  color: white;
}
#hero-makeappointment #makeappointment-text img {
  width: 100px;
  display: block;
  margin: auto;
  cursor: pointer;
}
#hero-makeappointment #makeappointment-text p {
  font-size: 30px;
  color: white;
  padding: 50px 0px;
}
#makeappointment-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}
#makeappointment-section #generalinquiry img {
  width: 40px;
  display: inline;
}
#makeappointment-section #generalinquiry p {
  display: inline;
}
#makeappointment-section #appointment-left {
  display: block;
  margin: auto;
  padding: 50px;
  width: 900px;
  background-color: rgb(255, 255, 255);
  height: 140vh;
}
#makeappointment-section #appointment-left p {
  width: 800px;
  font-size: 30px;
  line-height: 2;
  padding: 20px;
}
#makeappointment-section #appointment-left p a#facebook {
  color: blue;
}
#makeappointment-section #appointment-left h1 {
  font-size: 50px;
  padding: 20px;
  text-align: left;
}
#makeappointment-section #generalinquiry h3 {
  font-size: 30px;
  padding: 30px 0px;
  font-weight: 1;
}
#makeappointment-section #generalinquiry hr {
  background-color: rgb(92, 187, 134);
}
#makeappointment-section #generalinquiry #list-services {
  padding: 20px;
}
#makeappointment-section #generalinquiry #list-services li {
  font-size: 20px;
  padding: 10px;
}
#makeappointment-section #generalinquiry {
  display: block;
  margin: auto;
  background-color: rgb(240, 236, 228);
  height: 140vh;
  padding: 120px 40px;
  width: 470px;
}
#makeappointment-section #generalinquiry .inquiry {
  display: flex;
  align-items: center;
  padding: 5px;
}
#makeappointment-section #generalinquiry .inquiry p {
  padding: 10px;
  font-size: 20px;
}
footer {
  height: 70vh;
  position: relative;
  display: block;
  background-color: rgb(248, 240, 240);
}
#footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#footer-img img {
  width: 40px;
}
#footer-left {
  position: absolute;
  left: 0;
  top: 60px;
  width: 400px;
  padding: 20px;
}
#footer-left h3 {
  font-size: 25px;
  font-weight: 1;
}
#footer-left p {
  font-size: 20px;
  padding: 20px 0px;
  margin-bottom: 50px;
}
#footer-left h2 {
  padding: 20px 0px;
  font-weight: 1;
}
#footer-img {
  justify-content: center;
}
#footer-right {
  position: absolute;
  top: 85px;
}
#footer-right h3 {
  font-size: 25px;
  font-weight: 1;
}
.footer-inquiry img {
  width: 30px;
}
.footer-inquiry {
  display: flex;
  align-items: center;
  padding: 15px;
  width: 500px;
}
.footer-inquiry p {
  font-size: 20px;
  padding-left: 20px;
}
#copyright {
  position: absolute;
  bottom: 0;
  background-color: rgb(236, 231, 231);
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
}
#copyright p {
  margin-left: 50px;
  font-size: 15px;
  border-right: 2px solid black;
  width: 200px;
}
#welcomesection {
  height: 100vh;
  width: 100vw;
  display: block;
  margin: auto;
  align-items: center;
  background-color: rgb(241, 236, 236);
}
#welcomesection-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcomeintro h2,
p {
  text-align: center;
}
#welcomeintro {
  width: 800px;
  margin: auto;
}
#welcomeintro h2 {
  font-size: 50px;
  padding: 40px;
  font-weight: 1;
}
#welcomeintro p {
  font-size: 24px;
  line-height: 2;
  padding-bottom: 60px;
}
.welcomesection-card h2 {
  color: rgb(37, 153, 219);
  font-size: 40px;
  font-weight: 1;
  text-align: center;
  padding: 10px;
}
.welcomesection-card img {
  width: 100px;
  display: block;
  margin: auto;
}
.welcomesection-card {
  display: block;
  margin: auto;
}
.welcomesection-card p {
  width: 350px;
  display: block;
  margin: auto;
  font-size: 20px;
}
